body {
    margin: 0;
}

.navbar-section {
    display: flex;
    justify-content: space-around;
    background-color: rgb(190, 255, 255);
    align-items: center;
}

.navbar-right {
    display: flex;
}

.navbar-bagus-a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
}